<div class="panel panel-default">
  <div class="panel-body">
    <form id="post-edit">
      <div class="row">
        <div class="col-sm-12 form-group">
          <label for="commenter">Commenter</label>
          <input type="text" id="commenter" class="form-control" size="120" max="120" #commenter/>
        </div>
        <div class="col-sm-12 form-group">
          <label for="comment">Comment</label>
          <input type="text" id="comment" class="form-control" max="255" size="120"  #comment/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onSendComment()">
            Send
          </button>
          <button class="btn btn-danger" type="button" (click)="onClear()">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>